<p id="notice"><%= notice %></p>

<div id="title">
  <div>
    <p><%= @article.created_at %></p>
    <h1><%= @article.title %></h1>
  </div>
</div>

<div id="article_wrap">
  <div id="content">
    <%= @article.body %>
  </div>
  <div class="clear"></div>
</div>
